<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Amway.OA.ETOffine.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="SystemLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\"/>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="SystemLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <!---->
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="SystemLogAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="ETOffineEntities" connectionString="Data Source=|DataDirectory|\OfflineCheckin.db3" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <!--上载、下载活动服务器地址-->
    <add key="ServerURL" value="http://10.140.15.87/"/>
    <!--<add key="ServerURL" value="http://localhost:40649/Pages/AddActivity.aspx"/>-->
    <!--SOAPHeader应用程序ID-->
    <add key="AppId" value="ETOffline"/>
    <!--SOAPHeader应用程序密码-->
    <add key="AppKey"  value="123456"/>
    <!--监票页面每页显示的日志条数-->
    <add key="LogQuantity"  value="20"/>
    <!--检票页面自动刷新时间间隔单位为毫秒-->
    <add key="CheckPageRefreshTime"  value="30000"/>
    <!--备份机器每一次同步记录的数量-->
    <add key="SyncQuantityForOneTime" value="10"/>
    <!--数据同步的时间间隔，单位秒-->
    <add key="SyncDataInterval" value="60"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="512000" executionTimeout="1200" requestValidationMode="3.0"></httpRuntime>
    <!--httpHandlers节是经典模式才需要，集成模式就需要删除-->
    <!--
    <httpHandlers>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HETOffineD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    -->
    <!-- 禁止匿名访问 -->
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true"/>
  </system.web>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--引用程序集 开始-->
    <assembly name="Amway.OA.ETOffine"/>
    <assembly name="Amway.OA.ETOffine.BLL"/>
    <assembly name="Amway.OA.ETOffine.DAL"/>
    <namespace name="Amway.OA.ETOffine"/>
    <namespace name="Amway.OA.ETOffine.BLL"/>
    <namespace name="Amway.OA.ETOffine.DAL"/>
    <!--引用程序集 结束-->
    <container name="AmwayFrameworkContainer">
      <!--基础类库组件 开始-->
      <register type="ISystemLogger" mapTo="Log4NetLogger">
        <lifetime type="transient"/>
      </register>
      <!--基础类库组件 结束-->


      <!--业务逻辑组件 开始-->
      <register type="IMsetOfflineActivityBO" mapTo="MsetOfflineActivityBO">
        <lifetime type="transient"/>
      </register>
      <register type="IMsetOfflineCheckingLogBO" mapTo="MsetOfflineCheckingLogBO">
        <lifetime type="transient"/>
      </register>
      <register type="IMsetOfflineTicketBO" mapTo="MsetOfflineTicketBO">
        <lifetime type="transient"/>
      </register>
      <!--业务逻辑组件 结束-->

      <!--业务数据访问组件 开始-->
      <register type="IMsetOfflineActivityDAO" mapTo="MsetOfflineActivityDAO">
        <lifetime type="transient"/>
      </register>
      <register type="IMsetOfflineCheckingLogDAO" mapTo="MsetOfflineCheckingLogDAO">
        <lifetime type="transient"/>
      </register>
      <register type="IMsetOfflineTicketDAO" mapTo="MsetOfflineTicketDAO">
        <lifetime type="transient"/>
      </register>
      <!--业务数据访问组件 结束-->
      
    </container>
  </unity>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.91.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <Amway.OA.ETOffine.Web.Properties.Settings>
      <setting name="Amway_OA_ETOffine_Web_OfflineService_ForRemotingWebService"
        serializeAs="String">
        <value>http://localhost/WebService/ForRemotingWebService.asmx</value>
      </setting>
      <setting name="Amway_OA_ETOffine_Web_MSETOfflineService_OffineWebService"
        serializeAs="String">
        <value>http://10.143.170.128:8080/OA/MSETCK/WebService/OffineWebService.asmx</value>
      </setting>
    </Amway.OA.ETOffine.Web.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
