<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <log4net>
        <appender name="SystemLogAppender" type="log4net.Appender.RollingFileAppender">
            <file value="\\10.140.208.202\oa\OA_Log\App_Log\ETOffine\" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <staticLogFileName value="false" />
            <datePattern value="yyyyMMdd&quot;.log&quot;" />
            <layout type="log4net.Layout.PatternLayout">
                <!--输出格式-->
                <conversionPattern value="%date %-5level %message%newline" />
            </layout>
            <filter type="log4net.Filter.LoggerMatchFilter">
                <loggerToMatch value="SystemLog" />
            </filter>
            <filter type="log4net.Filter.DenyAllFilter" />
        </appender>
        <root>
            <level value="ALL"/>
            <appender-ref ref="SystemLogAppender"/>
        </root>
    </log4net>
    <connectionStrings>
        <add name="ETOffineDBContent" connectionString="metadata=res://*/ETOffineDB.csdl|res://*/ETOffineDB.ssdl|res://*/ETOffineDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.140.15.229;Initial Catalog=AmwayFrameworkWorkflow;Persist Security Info=True;User ID=amway;Password=amway123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
        <add key="SystemCode" value="ETOffine"/>
        <add key="AmwayAutoCompleteWebServiceUrl" value="WebService/Service.asmx"/>
    </appSettings>   
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <assembly name="Amway.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
        <assembly name="Amway.Framework.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
        <assembly name="Amway.Framework.Management, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
        <assembly name="Amway.Framework.Management.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
        <assembly name="Amway.Framework.Management.DAL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
        <assembly name="Amway.Framework.Workflow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
        <assembly name="Amway.Framework.Workflow.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />

        <namespace name="Amway.Framework"/>
        <namespace name="Amway.Framework.Core"/>
        <namespace name="Amway.Framework.BLL"/>
        <namespace name="Amway.Framework.DAL"/>
        <namespace name="Amway.Framework.Management"/>
        <namespace name="Amway.Framework.Management.BLL"/>
        <namespace name="Amway.Framework.Management.DAL"/>
        <namespace name="Amway.Framework.Workflow"/>
        <namespace name="Amway.Framework.Workflow.BLL"/>

        <!--引用程序集 开始-->
        <assembly name="Amway.OA.ETOffine"/>
        <assembly name="Amway.OA.ETOffine.BLL"/>
        <assembly name="Amway.OA.ETOffine.DAL"/>
        <namespace name="Amway.OA.ETOffine"/>
        <namespace name="Amway.OA.ETOffine.BLL"/>
        <namespace name="Amway.OA.ETOffine.DAL"/>
        <!--引用程序集 结束-->

        <container name="AmwayFrameworkContainer">
            <!--v2.0-->
            <register type="ISystemLogger2" mapTo="Log4NetLogger">
                <lifetime type="transient" />
            </register>
            <register type="IEmployeeDetailDAO" mapTo="EmployeeDetailDAO">
                <lifetime type="transient" />
            </register>
            <register type="IEmployeeDetailBO" mapTo="EmployeeDetailBO">
                <lifetime type="transient" />
            </register>
            <!--End of v2.0-->
            <!--业务逻辑组件 开始-->
            
            <!--业务逻辑组件 结束-->

            <!--业务数据访问组件 开始-->
           
            <!--业务数据访问组件 结束-->

            <!--流程管理组件 开始-->
            <register type="IFlowFormManager" mapTo="ETOffineFlowFormManager">
                <lifetime type="transient"/>
            </register>
            <!--流程管理组件 结束-->
        </container>
    </unity>
    <location path="winlogin.aspx">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication enabled="false"/>
                    <windowsAuthentication enabled="true"/>
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="Redirect401.htm">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication enabled="true"/>
                    <windowsAuthentication enabled="false"/>
                </authentication>
            </security>
        </system.webServer>
        <system.web>
            <authorization>
                <allow users="* "/>
                <!-- 此页面允许匿名访问 -->
            </authorization>
        </system.web>
    </location>
    <location path="Login.aspx">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication enabled="true"/>
                    <windowsAuthentication enabled="false"/>
                </authentication>
            </security>
        </system.webServer>
        <system.web>
            <authorization>
                <allow users="* "/>
                <!-- 此页面允许匿名访问 -->
            </authorization>
        </system.web>
    </location>
    <location path="Logout.aspx">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication enabled="true"/>
                    <windowsAuthentication enabled="false"/>
                </authentication>
            </security>
        </system.webServer>
        <system.web>
            <authorization>
                <allow users="* "/>
                <!-- 此页面允许匿名访问 -->
            </authorization>
        </system.web>
    </location>
    <location path="App_Themes">
        <system.web>
            <authorization>
                <allow users="* "/>
                <!-- 此页面允许匿名访问 "-->
            </authorization>
        </system.web>
    </location>
    <location path="WebService">
        <system.web>
            <authorization>
                <allow users="* "/>
                <!-- 此页面允许匿名访问 "-->
            </authorization>
        </system.web>
    </location>   
    <location path="ImageVerifier.axd">
        <system.web>
            <authorization>
                <allow users="* "/>
                <!-- 此页面允许匿名访问 path=""-->
            </authorization>
        </system.web>
    </location>
    <location path="Scripts">
        <system.web>
            <authorization>
                <allow users="* "/>
                <!--此页面暂时允许匿名访问，测试用-->
            </authorization>
        </system.web>
    </location>
    <location path="Test.aspx">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication enabled="true"/>
                    <windowsAuthentication enabled="false"/>
                </authentication>
            </security>
        </system.webServer>
        <system.web>
            <authorization>
                <allow users="* "/>
                <!-- 此页面允许匿名访问 -->
            </authorization>
        </system.web>
    </location>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Core" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Security" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Utilities" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Management" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Management.BLL" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Management.DAL" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Management.Entities" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Workflow" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Workflow.BLL" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Amway.Framework.Workflow.Web" publicKeyToken="96616e73859e41dc" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>   
</configuration>
