<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<!--<add name="AmwayFrameworkWorflowEntities" providerName="System.Data.SqlClient" connectionString="Data Source=myvirtual\SQL2008R2;Initial Catalog=AmwayFrameworkWorkflowDev;Persist Security Info=True;User ID=sa;Password=Pa$$w0rd;MultipleActiveResultSets=True;"/>
    <add name="AmwayFrameworkEntities" connectionString="metadata=res://*/ManagementDB.csdl|res://*/ManagementDB.ssdl|res://*/ManagementDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=myvirtual\SQL2008R2;Initial Catalog=AmwayFrameworkDev;Persist Security Info=True;User ID=sa;Password=Pa$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="AmwayFrameworkEntities" connectionString="metadata=res://*/ManagementDB.csdl|res://*/ManagementDB.ssdl|res://*/ManagementDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.140.15.57;Initial Catalog=AmwayFramework;Persist Security Info=True;User ID=AmwayframeworkServer;Password=amway.123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AmwayFrameworkWorflowEntities" providerName="System.Data.SqlClient" connectionString="Server=10.140.15.57;Database=AmwayFrameworkWorkflow;User ID=AmwayframeworkServer;Password=amway.123;"/>-->
    <add name="AmwayFrameworkWorflowEntities" providerName="System.Data.SqlClient" connectionString="Server=10.140.15.229;Database=AmwayFrameworkWorkflow;Persist Security Info=True;User ID=amway;Password=amway123;"/>
		<add name="AmwayFrameworkEntities" connectionString="metadata=res://*/ManagementDB.csdl|res://*/ManagementDB.ssdl|res://*/ManagementDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.140.15.229;Initial Catalog=AmwayFramework;Persist Security Info=True;User ID=amway;Password=amway123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<!--<add name="AmwayFrameworkWorflowEntities" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=AmwayFrameworkWorkflow;Persist Security Info=True;User ID=amway;Password=amway123;"/>
	  <add name="AmwayFrameworkEntities" connectionString="metadata=res://*/ManagementDB.csdl|res://*/ManagementDB.ssdl|res://*/ManagementDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=AmwayFramework;Persist Security Info=True;User ID=amway;Password=amway123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
		<!--<add name="AmwayFrameworkEntities" 
         connectionString="metadata=res://*/ManagementDB.csdl|res://*/ManagementDB.ssdl|res://*/ManagementDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=AmwayFramework;Persist Security Info=True;Trusted_Connection=true;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AmwayFrameworkWorflowEntities" 
         connectionString="Server=.;Database=AmwayFrameworkWorkflow;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<appSettings>
		<!--当前站点根目录 ,以""结尾 如果在某个目录下面，则 "目录/" -->
		<add key="_SiteRootPath" value=""/>
		<add key="SystemCode" value="AT"/>
		<!--<add key="DatabaseVersion" value=" 1.0.0.1" />-->
		<!--<add key="AgilePointWS" value="http://myvirtual:8888/agilepointServer/workflow.asmx" />
    <add key="AgilePointUser" value="administrator" />
    <add key="AgilePointPwd" value="Pa$$w0rd" />
    <add key="AgilePointDomain" value="CCGU" />-->
		<!--<add key="SystemCode" value ="TA"/>
    <add key="AgilePointWS" value="http://10.140.15.229/AgilePointServer/Workflow.asmx" />
    <add key="AgilePointUser" value="mlin" />
    <add key="AgilePointPwd" value="amway123" />
    <add key="AgilePointDomain" value="gzvs229" />-->
		<add key="AmwayAutoCompleteWebServiceUrl" value="WebService/Service.asmx"/>
		<add key="AgilePointWS" value="http://10.140.15.229/AgilePointServer/Workflow.asmx"/>
		<add key="AgilePointUser" value="mlin"/>
		<add key="AgilePointPwd" value="amway123"/>
		<add key="AgilePointDomain" value="gzvs229"/>
    <!--ToDoList数据库地址-->
    <add key="DB2ODBCConnectionString" value="Database=AEP;UID=aep;PWD=a1e2p3;"/>
	</appSettings>
	<system.web>
		<!--SSO 登陆设置 ,参与SSO的Web应用，将其machineKey 设置成一样-->
		<machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" decryption="3DES" validation="SHA1"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
        
        <add assembly="Amway.Framework.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc"/>
        <add assembly="Amway.Framework.Management.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc"/>
        
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
		<httpRuntime maxRequestLength="51200" executionTimeout="600" requestValidationMode="3.0"></httpRuntime>
    <!--经典模式是这样配置，集成模式就需要删除本节，使用system.webServer下面的modules节-->
    <httpModules>
      <add name="SQLAuthorizationModule" type="Amway.Framework.Security.SQLAuthorizationModule,Amway.Framework.Security,Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
    </httpModules>    
    <!--httpHandlers节是经典模式才需要，集成模式就需要删除-->
		<httpHandlers>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<!-- 同一服务器多应用之间的SSO 设置，只要将domain,name 属性设置成一样就可以了， -->
		<authentication mode="Forms">
			<forms loginUrl="~/login.aspx" timeout="2880" defaultUrl="TestWorkflow3.aspx" name="AmwayWorkflowByOurway" domain=""/>
		</authentication>
		<!-- 禁止匿名访问 -->
		<authorization>
			<deny users="?"/>
		</authorization>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="Static" validateRequest="false" enableEventValidation="false"/>
		<membership defaultProvider="TestMembershipProvider">
			<providers>
				<clear/>
				<!--<add connectionStringName="CCHRADConnectionString" connectionUsername="centaline\chengang" connectionPassword="p@ssw0rd" attributeMapUsername="sAMAccountName" name="CCHRMembershipProvider" type="CCHR.Security.CCHRMembershipProvider,CCHR.Security" />-->
				<add connectionStringName="TestADConnectionString" connectionUsername="CN088341" connectionPassword="amway123" attributeMapUsername="sAMAccountName" name="TestMembershipProvider" type="Amway.Framework.Security.TestMembershipProvider,Amway.Framework.Security"/>
				<!--<add connectionStringName="TestADConnectionString" connectionUsername="QA-NA\CN081208" connectionPassword="amway123" attributeMapUsername="sAMAccountName" name="TravelFlowMembershipProvider" type="Amway.OA.TravelFlow.Common.TravelFlowMembershipProvider,Amway.OA.TravelFlow.Common" />-->
			</providers>
		</membership>
	</system.web>
	<system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SQLAuthorizationModule" type="Amway.Framework.Security.SQLAuthorizationModule,Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />

    </modules>
  
	</system.webServer>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Amway.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
    <assembly name="Amway.Framework.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
    <assembly name="Amway.Framework.Management, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
    <assembly name="Amway.Framework.Management.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
    <assembly name="Amway.Framework.Management.DAL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
    <assembly name="Amway.Framework.Workflow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
    <assembly name="Amway.Framework.Workflow.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96616e73859e41dc" />
    
		<namespace name="Amway.Framework"/>
		<namespace name="Amway.Framework.Core"/>
		<namespace name="Amway.Framework.BLL"/>
		<namespace name="Amway.Framework.DAL"/>
		<namespace name="Amway.Framework.Management"/>
		<namespace name="Amway.Framework.Management.BLL"/>
		<namespace name="Amway.Framework.Management.DAL"/>
		<namespace name="Amway.Framework.Workflow"/>
		<namespace name="Amway.Framework.Workflow.BLL"/>
		<container name="AmwayFrameworkContainer">
			<!--基础类库组件 开始-->
			<register type="ISystemLogger" mapTo="SystemLogger">
				<lifetime type="transient"/>
			</register>
            <register type="ISystemLogger2" mapTo="Log4NetLogger">
                <lifetime type="singleton"/>
            </register>
			<register type="ITransactionManager" mapTo="TransactionManager">
				<lifetime type="transient"/>
			</register>
			<register type="ICacheManager" mapTo="CacheManager">
				<lifetime type="transient"/>
			</register>
			<register type="IExceptionHandler" mapTo="ExceptionHandler">
				<lifetime type="transient"/>
			</register>
			<register type="IOperationLogger" mapTo="OperationLogger">
				<lifetime type="transient"/>
			</register>
			<register type="IPerformanceTracer" mapTo="PerformanceTracer">
				<lifetime type="transient"/>
			</register>
			<!--基础类库组件 结束-->
			<!--业务逻辑组件 开始-->
			<register type="IApproveBoxPolicyBO" mapTo="ApproveBoxPolicyBO">
				<lifetime type="transient"/>
			</register>
			<register type="IApproveBoxPolicyRoleBO" mapTo="ApproveBoxPolicyRoleBO">
				<lifetime type="transient"/>
			</register>
			<register type="IApproveBoxRoleAddedApproverBO" mapTo="ApproveBoxRoleAddedApproverBO">
				<lifetime type="transient"/>
			</register>
			<register type="IApproveBoxRoleSpecialEmpBO" mapTo="ApproveBoxRoleSpecialEmpBO">
				<lifetime type="transient"/>
			</register>
			<register type="IAttachmentBO" mapTo="AttachmentBO">
				<lifetime type="transient"/>
			</register>
            <register type="IAttachmentLogBO" mapTo="AttachmentLogBO">
                <lifetime type="transient"/>
            </register>
			<register type="IAttachmentServerBO" mapTo="AttachmentServerBO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataBO" mapTo="BaseDataBO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataExtFieldBO" mapTo="BaseDataExtFieldBO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataItemBO" mapTo="BaseDataItemBO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataItemExtBO" mapTo="BaseDataItemExtBO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataWsMappingBO" mapTo="BaseDataWsMappingBO">
				<lifetime type="transient"/>
			</register>
			<register type="ICacheItemBO" mapTo="CacheItemBO">
				<lifetime type="transient"/>
			</register>
			<register type="IDepartmentBO" mapTo="DepartmentBO">
				<lifetime type="transient"/>
			</register>
			<register type="IDepartmentStageBO" mapTo="DepartmentStageBO">
				<lifetime type="transient"/>
			</register>
			<register type="IDefineApproverBO" mapTo="DefineApproverBO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailAttachmentBO" mapTo="EmailAttachmentBO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailLogBO" mapTo="EmailLogBO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailTaskBO" mapTo="EmailTaskBO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailTemplateBO" mapTo="EmailTemplateBO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmployeeBO" mapTo="EmployeeBO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmployeePortalSyncTaskBO" mapTo="EmployeePortalSyncTaskBO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmployeeStageBO" mapTo="EmployeeStageBO">
				<lifetime type="transient"/>
			</register>
			<register type="IExceptionDefBO" mapTo="ExceptionDefBO">
				<lifetime type="transient"/>
			</register>
			<register type="IExceptionEmailUserBO" mapTo="ExceptionEmailUserBO">
				<lifetime type="transient"/>
			</register>
			<register type="IExceptionLogBO" mapTo="ExceptionLogBO">
				<lifetime type="transient"/>
			</register>
			<register type="IFormSequenceNumberBO" mapTo="FormSequenceNumberBO">
				<lifetime type="transient"/>
			</register>
			<register type="IMenuBO" mapTo="MenuBO">
				<lifetime type="transient"/>
			</register>
			<register type="IOperationLogBO" mapTo="OperationLogBO">
				<lifetime type="transient"/>
			</register>
			<register type="IPolicyAdminBO" mapTo="PolicyAdminBO">
				<lifetime type="transient"/>
			</register>
			<register type="IPolicyModifyLogBO" mapTo="PolicyModifyLogBO">
				<lifetime type="transient"/>
			</register>
			<register type="IQueryBO" mapTo="QueryBO">
				<lifetime type="transient"/>
			</register>
			<register type="IRoleBO" mapTo="RoleBO">
				<lifetime type="transient"/>
			</register>
			<register type="IRoleEmpRelBO" mapTo="RoleEmpRelBO">
				<lifetime type="transient"/>
			</register>
			<register type="IRoleMenuRelBO" mapTo="RoleMenuRelBO">
				<lifetime type="transient"/>
			</register>
			<register type="IRoleScopeBO" mapTo="RoleScopeBO">
				<lifetime type="transient"/>
			</register>
			<register type="IScheduleBO" mapTo="ScheduleBO">
				<lifetime type="transient"/>
			</register>
			<register type="IScheduleLogBO" mapTo="ScheduleLogBO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemBlackListBO" mapTo="SystemBlackListBO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemInfoBO" mapTo="SystemInfoBO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemLogBO" mapTo="SystemLogBO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemStyleBO" mapTo="SystemStyleBO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemThemeBO" mapTo="SystemThemeBO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemVariableBO" mapTo="SystemVariableBO">
				<lifetime type="transient"/>
			</register>
			<register type="ITraceLogBO" mapTo="TraceLogBO">
				<lifetime type="transient"/>
			</register>
			<register type="IUserProfileBO" mapTo="UserProfileBO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkDelegateBO" mapTo="WorkDelegateBO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowInfoBO" mapTo="WorkflowInfoBO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowRelationBO" mapTo="WorkflowRelationBO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowStepBO" mapTo="WorkflowStepBO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowStepButtonBO" mapTo="WorkflowStepButtonBO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowVariableBO" mapTo="WorkflowVariableBO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkStepDisplayCtlBO" mapTo="WorkStepDisplayCtlBO">
				<lifetime type="transient"/>
			</register>
      <register type="IEmployeeDetailBO" mapTo="EmployeeDetailBO">
        <lifetime type="transient" />
      </register>
			<!--业务逻辑组件 结束-->
			<!--数据访问组件 开始-->
			<register type="IApproveBoxPolicyDAO" mapTo="ApproveBoxPolicyDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IApproveBoxPolicyRoleDAO" mapTo="ApproveBoxPolicyRoleDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IApproveBoxRoleAddedApproverDAO" mapTo="ApproveBoxRoleAddedApproverDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IApproveBoxRoleSpecialEmpDAO" mapTo="ApproveBoxRoleSpecialEmpDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IAttachmentDAO" mapTo="AttachmentDAO">
				<lifetime type="transient"/>
			</register>
            <register type="IAttachmentLogDAO" mapTo="AttachmentLogDAO">
                <lifetime type="transient"/>
            </register>
			<register type="IAttachmentServerDAO" mapTo="AttachmentServerDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataDAO" mapTo="BaseDataDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataExtFieldDAO" mapTo="BaseDataExtFieldDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataItemDAO" mapTo="BaseDataItemDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataItemExtDAO" mapTo="BaseDataItemExtDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataWsMappingDAO" mapTo="BaseDataWsMappingDAO">
				<lifetime type="transient"/>
			</register>
			<register type="ICacheItemDAO" mapTo="CacheItemDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IDepartmentDAO" mapTo="DepartmentDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IDepartmentStageDAO" mapTo="DepartmentStageDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IDefineApproverDAO" mapTo="DefineApproverDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailAttachmentDAO" mapTo="EmailAttachmentDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailLogDAO" mapTo="EmailLogDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailTaskDAO" mapTo="EmailTaskDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailTemplateDAO" mapTo="EmailTemplateDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmployeeDAO" mapTo="EmployeeDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmployeePortalSyncTaskDAO" mapTo="EmployeePortalSyncTaskDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmployeeStageDAO" mapTo="EmployeeStageDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IExceptionDefDAO" mapTo="ExceptionDefDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IExceptionEmailUserDAO" mapTo="ExceptionEmailUserDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IExceptionLogDAO" mapTo="ExceptionLogDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IFormSequenceNumberDAO" mapTo="FormSequenceNumberDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IMenuDAO" mapTo="MenuDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IOperationLogDAO" mapTo="OperationLogDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IPolicyAdminDAO" mapTo="PolicyAdminDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IPolicyModifyLogDAO" mapTo="PolicyModifyLogDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IQueryDAO" mapTo="QueryDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IRoleDAO" mapTo="RoleDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IRoleEmpRelDAO" mapTo="RoleEmpRelDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IRoleMenuRelDAO" mapTo="RoleMenuRelDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IRoleScopeDAO" mapTo="RoleScopeDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IScheduleDAO" mapTo="ScheduleDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IScheduleLogDAO" mapTo="ScheduleLogDAO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemBlackListDAO" mapTo="SystemBlackListDAO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemInfoDAO" mapTo="SystemInfoDAO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemLogDAO" mapTo="SystemLogDAO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemStyleDAO" mapTo="SystemStyleDAO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemThemeDAO" mapTo="SystemThemeDAO">
				<lifetime type="transient"/>
			</register>
			<register type="ISystemVariableDAO" mapTo="SystemVariableDAO">
				<lifetime type="transient"/>
			</register>
			<register type="ITraceLogDAO" mapTo="TraceLogDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IUserProfileDAO" mapTo="UserProfileDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkDelegateDAO" mapTo="WorkDelegateDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowInfoDAO" mapTo="WorkflowInfoDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowRelationDAO" mapTo="WorkflowRelationDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowStepDAO" mapTo="WorkflowStepDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowStepButtonDAO" mapTo="WorkflowStepButtonDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkflowVariableDAO" mapTo="WorkflowVariableDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IWorkStepDisplayCtlDAO" mapTo="WorkStepDisplayCtlDAO">
				<lifetime type="transient"/>
			</register>
      <register type="IEmployeeDetailDAO" mapTo="EmployeeDetailDAO">
        <lifetime type="transient" />
      </register>
			<!--数据访问组件 结束-->
			<!--其他组件 开始-->
			<register type="IItemRecordApproveEmpBO" mapTo="ItemRecordApproveEmpBO">
				<lifetime type="transient"/>
			</register>
			<register type="IItemRecordBO" mapTo="ItemRecordBO">
				<lifetime type="transient"/>
			</register>
			<register type="IItemRecordFlowBO" mapTo="ItemRecordFlowBO">
				<lifetime type="transient"/>
			</register>
			<register type="IApproveRecordBO" mapTo="ApproveRecordBO">
				<lifetime type="transient"/>
			</register>
			<register type="IDefineApproverBO" mapTo="DefineApproverBO">
				<lifetime type="transient"/>
			</register>
			<register type="IItemRecordApproveEmpDAO" mapTo="ItemRecordApproveEmpDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IItemRecordDAO" mapTo="ItemRecordDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IItemRecordFlowDAO" mapTo="ItemRecordFlowDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IApproveRecordDAO" mapTo="ApproveRecordDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IDefineApproverDAO" mapTo="DefineApproverDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IBaseDataServiceConsumer" mapTo="BaseDataBO">
				<lifetime type="transient"/>
			</register>
			<register type="IFlowFormManager" mapTo="DemoFlowFormManager">
				<lifetime type="transient"/>
			</register>
			<register type="IAgilePointManager" mapTo="AgilePointManager">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailService" mapTo="EmailServiceBO">
				<lifetime type="transient"/>
			</register>
			<register type="IEmailServiceConsumer" mapTo="EmailServiceBO">
				<lifetime type="transient"/>
			</register>
			<register type="IItemRecordRelationBO" mapTo="ItemRecordRelationBO">
				<lifetime type="transient"/>
			</register>
			<register type="IItemRecordRelationDAO" mapTo="ItemRecordRelationDAO">
				<lifetime type="transient"/>
			</register>
			<register type="IFormSequenceNumber" mapTo="FormSequenceNumberService">
				<lifetime type="transient"/>
			</register>
			<!--其他组件 结束-->

      <!--法定节假日接口 只支持 2.0 -->
      <register type="IWorkDateBO"  mapTo="WorkDateBO" >
        <lifetime type="transient" />
      </register>

      <register type="IHolidayBO" mapTo="HolidayBO">
        <lifetime type="transient" />
      </register>

      <register type="IOverDueBO" mapTo="OverDueBO">
        <lifetime type="transient" />
      </register>

      <register type="IWorkDateDAO" mapTo="WorkDateDAO">
        <lifetime type="transient" />
      </register>

      <register type="IHolidayDAO" mapTo="HolidayDAO">
        <lifetime type="transient" />
      </register>
      <!--法定节假日接口 只支持 2.0  -->
		</container>
	</unity>
    <log4net>
        <appender name="SystemLogAppender" type="log4net.Appender.RollingFileAppender">
            <file value="OA_Log/App_Log/" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <staticLogFileName value="false" />
            <datePattern value="yyyyMMdd&quot;.log&quot;" />
            <layout type="log4net.Layout.PatternLayout">
                <!--输出格式-->
                <conversionPattern value="%date %-5level %message%newline" />
            </layout>
            <filter type="log4net.Filter.LoggerMatchFilter">
                <loggerToMatch value="SystemLog" />               
            </filter>
            <filter type="log4net.Filter.DenyAllFilter" />
        </appender>
        <appender name="SecurityLogAppender" type="log4net.Appender.RollingFileAppender">
            <file value="OA_Log/Access_Log/" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <staticLogFileName value="false" />
            <datePattern value="yyyyMMdd&quot;.log&quot;" />
            <layout type="log4net.Layout.PatternLayout">
                <!--输出格式-->
                <conversionPattern value="%date %-5level %message%newline" />
            </layout>
            <filter type="log4net.Filter.LoggerMatchFilter">
                <loggerToMatch value="SecurityLog" />               
            </filter>
            <filter type="log4net.Filter.DenyAllFilter" />
        </appender>        
        <root>
            <level value="ALL"/>            
            <appender-ref ref="SystemLogAppender"/>
            <appender-ref ref="SecurityLogAppender"/>            
        </root>       
</log4net>
	<location path="winlogin.aspx">
		<system.webServer>
			<security>
				<authentication>
					<anonymousAuthentication enabled="false"/>
					<windowsAuthentication enabled="true"/>
				</authentication>
			</security>
		</system.webServer>
	</location>
	<location path="Redirect401.htm">
		<system.webServer>
			<security>
				<authentication>
					<anonymousAuthentication enabled="true"/>
					<windowsAuthentication enabled="false"/>
				</authentication>
			</security>
		</system.webServer>
		<system.web>
			<authorization>
				<allow users="* "/>
				<!-- 此页面允许匿名访问 -->
			</authorization>
		</system.web>
	</location>
	<location path="Login.aspx">
		<system.webServer>
			<security>
				<authentication>
					<anonymousAuthentication enabled="true"/>
					<windowsAuthentication enabled="false"/>
				</authentication>
			</security>
		</system.webServer>
		<system.web>
			<authorization>
				<allow users="* "/>
				<!-- 此页面允许匿名访问 -->
			</authorization>
		</system.web>
	</location>
	<location path="Logout.aspx">
		<system.webServer>
			<security>
				<authentication>
					<anonymousAuthentication enabled="true"/>
					<windowsAuthentication enabled="false"/>
				</authentication>
			</security>
		</system.webServer>
		<system.web>
			<authorization>
				<allow users="* "/>
				<!-- 此页面允许匿名访问 -->
			</authorization>
		</system.web>
	</location>
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="* "/>
				<!-- 此页面允许匿名访问 "-->
			</authorization>
		</system.web>
	</location>
	<location path="WebService">
		<system.web>
			<authorization>
				<allow users="* "/>
				<!-- 此页面允许匿名访问 "-->
			</authorization>
		</system.web>
	</location>
	<location path="ImageVerifier.axd">
		<system.web>
			<authorization>
				<allow users="* "/>
				<!-- 此页面允许匿名访问 path=""-->
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="* "/>
				<!--此页面暂时允许匿名访问，测试用-->
			</authorization>
		</system.web>
	</location>
	<location path="TestLog.aspx">
		<system.webServer>
			<security>
				<authentication>
					<anonymousAuthentication enabled="true"/>
					<windowsAuthentication enabled="false"/>
				</authentication>
			</security>
		</system.webServer>
		<system.web>
			<authorization>
				<allow users="* "/>
				<!-- 此页面允许匿名访问 -->
			</authorization>
		</system.web>
	</location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Core" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Security" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Utilities" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Management" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Management.BLL" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Management.DAL" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Management.Entities" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Workflow" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Workflow.BLL" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amway.Framework.Workflow.Web" publicKeyToken="96616e73859e41dc" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
